@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2016, 3:03:05 PM
    Author     : aron
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2016, 3:03:56 PM
    Author     : aron
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2016, 3:03:39 PM
    Author     : aron
*/
body {
  padding: 0px;
  margin: 0px; }

#header {
  text-align: center;
  margin-top: 100px;
  padding: 10px;
  font-size: 40px; }
  #header .first {
    color: #ff2055; }
  #header .second {
    color: #002055; }

#content {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  -webkit-box-shadow: 1px 1px 5px #ccc;
  -moz-box-shadow: 1px 1px 5px #ccc;
  box-shadow: 1px 1px 5px #ccc; }
  #content .login-title {
    padding: 10px;
    /* Fallback for sad browsers */
    background-color: #002055;
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(#ff2055, #002055);
    /* Opera */
    background-image: -o-linear-gradient(#ff2055, #002055);
    /* WebKit (Safari 4+, Chrome 1+) */
    background-image: -webkit-gradient(linear, ┬╗ left top, left bottom, color-stop(0, #ff2055), ┬╗ color-stop(1, #002055));
    /* WebKit (Chrome 11+) */
    background-image: -webkit-linear-gradient(#ff2055, #002055);
    /* IE10 */
    background-image: -ms-linear-gradient(#ff2055, #002055);
    /* W3C */
    background-image: linear-gradient(#ff2055, #002055);
    color: #fff;
    font-size: 24px; }
  #content .login-body {
    padding: 10px; }
  #content .login-input, #content .login-button {
    padding: 5px; }
    #content .login-input input[type='text'], #content .login-input input[type='password'], #content .login-button input[type='text'], #content .login-button input[type='password'] {
      width: 98%;
      padding: 5px;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid 2px #002055;
      display: inline-block;
      background: white;
      font-size: 20px; }
    #content .login-input input[type='button'], #content .login-button input[type='button'] {
      /* Fallback for sad browsers */
      background-color: #002055;
      /* Mozilla Firefox */
      background-image: -moz-linear-gradient(#ff2055, #002055);
      /* Opera */
      background-image: -o-linear-gradient(#ff2055, #002055);
      /* WebKit (Safari 4+, Chrome 1+) */
      background-image: -webkit-gradient(linear, ┬╗ left top, left bottom, color-stop(0, #ff2055), ┬╗ color-stop(1, #002055));
      /* WebKit (Chrome 11+) */
      background-image: -webkit-linear-gradient(#ff2055, #002055);
      /* IE10 */
      background-image: -ms-linear-gradient(#ff2055, #002055);
      /* W3C */
      background-image: linear-gradient(#ff2055, #002055);
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
      #content .login-input input[type='button']:hover, #content .login-button input[type='button']:hover {
        /* Fallback for sad browsers */
        background-color: #003388;
        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(#ff537c, #003388);
        /* Opera */
        background-image: -o-linear-gradient(#ff537c, #003388);
        /* WebKit (Safari 4+, Chrome 1+) */
        background-image: -webkit-gradient(linear, ┬╗ left top, left bottom, color-stop(0, #ff537c), ┬╗ color-stop(1, #003388));
        /* WebKit (Chrome 11+) */
        background-image: -webkit-linear-gradient(#ff537c, #003388);
        /* IE10 */
        background-image: -ms-linear-gradient(#ff537c, #003388);
        /* W3C */
        background-image: linear-gradient(#ff537c, #003388); }
    #content .login-input input[type='button'].ng-valid, #content .login-button input[type='button'].ng-valid {
      background-color: #ccc; }
    #content .login-input .button_disabled, #content .login-button .button_disabled {
      background-color: #ccc; }
  #content .login-error {
    color: #ff0011; }
  @media screen and (max-width: 600px) {
    #content {
      width: 95%;
      margin-left: 10px auto;
      margin-right: 10px auto; } }

#account .top {
  height: 100px;
  background: #FFA500;
  position: relative; }
  #account .top img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 30px; }
  #account .top .position {
    position: absolute;
    right: 0px;
    bottom: 0px;
    /* Fallback for sad browsers */
    background-color: #cc8400;
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(#FFA500, #cc8400);
    /* Opera */
    background-image: -o-linear-gradient(#FFA500, #cc8400);
    /* WebKit (Safari 4+, Chrome 1+) */
    background-image: -webkit-gradient(linear, ┬╗ left top, left bottom, color-stop(0, #FFA500), ┬╗ color-stop(1, #cc8400));
    /* WebKit (Chrome 11+) */
    background-image: -webkit-linear-gradient(#FFA500, #cc8400);
    /* IE10 */
    background-image: -ms-linear-gradient(#FFA500, #cc8400);
    /* W3C */
    background-image: linear-gradient(#FFA500, #cc8400); }
    #account .top .position ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none; }
      #account .top .position ul li {
        float: left;
        padding: 0px;
        margin: 0px; }
        #account .top .position ul li a {
          text-decoration: none; }
          #account .top .position ul li a span {
            display: block;
            padding: 10px;
            position: relative; }
        #account .top .position ul li ul {
          display: none;
          clear: both;
          position: absolute;
          top: 38px;
          right: 0px;
          margin: 0px;
          padding: 0px;
          list-style-type: none;
          background-color: #ffb733; }
          #account .top .position ul li ul li {
            padding: 0px;
            margin: 0px;
            float: none; }
            #account .top .position ul li ul li a {
              display: block;
              text-decoration: none;
              font-size: 12px;
              font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
              font-style: normal;
              font-variant: normal;
              font-weight: bolder;
              padding: 10px;
              text-align: left;
              border-left: solid #ffb733 2px; }
              #account .top .position ul li ul li a:hover {
                border-left: solid #000 2px; }
        #account .top .position ul li input {
          padding: 5px; }
#account .middle {
  background-color: #ffc966;
  /* Fallback for sad browsers */
  background-color: #ffae1a;
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(#ffc966, #ffae1a);
  /* Opera */
  background-image: -o-linear-gradient(#ffc966, #ffae1a);
  /* WebKit (Safari 4+, Chrome 1+) */
  background-image: -webkit-gradient(linear, ┬╗ left top, left bottom, color-stop(0, #ffc966), ┬╗ color-stop(1, #ffae1a));
  /* WebKit (Chrome 11+) */
  background-image: -webkit-linear-gradient(#ffc966, #ffae1a);
  /* IE10 */
  background-image: -ms-linear-gradient(#ffc966, #ffae1a);
  /* W3C */
  background-image: linear-gradient(#ffc966, #ffae1a); }
  #account .middle img {
    float: left;
    display: block;
    padding: 10px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px; }
    #account .middle img:hover {
      opacity: 0.8;
      transition: opacity 0.5s; }
  #account .middle span {
    display: inline-block;
    height: 110px;
    padding-top: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px; }
#account .bottom .menu {
  background-color: #cc8400;
  padding: 20px;
  float: left;
  width: 250px; }
  #account .bottom .menu ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px; }
    #account .bottom .menu ul li img {
      width: 20px;
      height: 20px; }
    #account .bottom .menu ul li ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none; }
      #account .bottom .menu ul li ul li {
        padding-left: 10px; }
        #account .bottom .menu ul li ul li a {
          display: block;
          padding: 10px;
          text-decoration: none;
          color: #fff; }
          #account .bottom .menu ul li ul li a:hover {
            text-decoration: underline; }
          #account .bottom .menu ul li ul li a:active, #account .bottom .menu ul li ul li a:visited {
            text-decoration: none;
            color: #ff0000; }
          #account .bottom .menu ul li ul li a:visited {
            text-decoration: none;
            color: #fff; }
          #account .bottom .menu ul li ul li a .active {
            color: #FF9900 !important; }
    #account .bottom .menu ul li span {
      position: relative;
      top: -5px;
      padding-left: 5px; }
#account .bottom .data {
  margin-left: 290px; }
  #account .bottom .data .content {
    width: 100%; }
#account .bottom table {
  width: 100%;
  -webkit-box-shadow: 1px 1px 2px #ccc;
  -moz-box-shadow: 1px 1px 2px #ccc;
  box-shadow: 1px 1px 2px #ccc; }
  #account .bottom table thead {
    padding: 20px;
    background-color: #500000;
    color: #fff; }
    #account .bottom table thead th {
      padding: 10px;
      text-align: left; }
  #account .bottom table tbody {
    color: #fff; }
    #account .bottom table tbody td {
      padding: 10px; }
    #account .bottom table tbody tr:nth-child(odd) {
      background-color: #830000; }
    #account .bottom table tbody tr:nth-child(even) {
      background-color: #b60000; }
    #account .bottom table tbody tr:hover {
      background-color: #370000; }

.feedback {
  text-align: left;
  color: #ff0011;
  padding: 5px; }
  .feedback img {
    display: inline-block;
    width: 20px; }

.nav-link {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  clear: both; }
  .nav-link ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-block; }
    .nav-link ul li {
      padding: 0px;
      margin: 0px;
      float: left; }
      .nav-link ul li a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #00f;
        cursor: pointer; }
        .nav-link ul li a:hover {
          text-decoration: underline; }
        .nav-link ul li a:active {
          text-decoration: none;
          color: #00f; }
        .nav-link ul li a:visited {
          text-decoration: none;
          color: #00f; }
  .nav-link .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none; }
    .nav-link .modalDialog form {
      pointer-events: auto; }
      .nav-link .modalDialog form input[type='text'], .nav-link .modalDialog form textArea {
        padding: 10px;
        margin: 5px;
        width: 90%;
        border: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
      .nav-link .modalDialog form textArea {
        height: 100px;
        resize: none; }
      .nav-link .modalDialog form input[type='button'] {
        border: none;
        padding: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 95%;
        margin: 5px;
        background-color: #333;
        color: #fff; }
        .nav-link .modalDialog form input[type='button']:hover {
          background-color: #4d4d4d; }
  .nav-link .modalDialog:target {
    opacity: 1;
    pointer-events: auto; }
  .nav-link .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999); }
  .nav-link .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    pointer-events: auto;
    cursor: pointer; }
  .nav-link .close:hover {
    background: #00d9ff; }

/*# sourceMappingURL=styles.css.map */
