/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2016, 3:03:56 PM
    Author     : aron
*/

$small_padding: 5px;
$medium_padding: 10px;
$large_padding: 20px;

$small_margin: 5px;
$medium_margin: 10px;
$large_margin: 20px;

$login_title_top_margin: 100px;
$main_bg_color1: #ff2055;
$main_bg_color2: #002055;

$small_font_size: 12px;
$medium_font_size: 16px;
$x_large_font_size: 40px;

$theme_color: #FFA500;
$error_color: #ff0011;
$loading_gif_size: 20px;

$profile_pic_size: 100px;
$welcome_msg_font_size: 20px;

$icon_size: 20px;
$menu_width: 250px;
$logo_size: 50px;

$table_header_bg_color: #500000 ;
$table_odd_row_bg_color: lighten($table_header_bg_color, 10%);
$table_even_row_bg_color: lighten($table_header_bg_color, 20%);
$table_hover_bg_color: darken($table_header_bg_color, 5%);

$header_vertical_padding: 20px;
$header_menu_vertical_padding: 5px;
$header_menu_horizontal_padding: 5px;
$header_horizontal_padding: 10px;
$header_background: #00efbb;
$title_font_size: 24px;
$title_padding: 10px;
$login_body_padding: 10px;
$input_div_padding: 5px;
$input_padding: 5px;
$login_button_padding: 10px;
$login_button_background: #4CAF50;
$login_button_background_disabled: #ccc;
$menu_font_size: 12px;
$menu_border_left_color: #000;
$input_background: lighten(#FFF, 0%);
$remote_feedback_color: #FF851B;

