/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2016, 3:03:39 PM
    Author     : aron
*/

@mixin rounded($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin shadow($x, $y, $blur, $color) {
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}

@mixin linear-gradient($from, $to) {
    /* Fallback for sad browsers */
    background-color: $to;
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient($from, $to);
    /* Opera */
    background-image: -o-linear-gradient($from, $to);
    /* WebKit (Safari 4+, Chrome 1+) */
    background-image: -webkit-gradient(linear, »
        left top, left bottom, color-stop(0, $from), »
        color-stop(1, $to));
    /* WebKit (Chrome 11+) */
    background-image: -webkit-linear-gradient($from, $to);
    /* IE10 */
    background-image: -ms-linear-gradient($from, $to);
    /* W3C */
    background-image: linear-gradient($from, $to);
}

@mixin form() {
    padding: $input_div_padding;

    input[type='text'], input[type='password'] {
        width: 98%;
        padding: $input_padding;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 2px $main_bg_color2;
        display: inline-block;
        background: $input_background;
        font: {
            size: 20px;
        }
    }
    input[type='button'] {
        @include linear-gradient($main_bg_color1, $main_bg_color2);
        border: none;
        color: white;
        padding: $login_button_padding $login_button_padding + 10;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        @include rounded(3px);

        &:hover {
            //background: lighten($main_bg_color2, 10%);
            @include linear-gradient(lighten($main_bg_color1, 10%), lighten($main_bg_color2, 10%));
        }
    }
    input[type='button'].ng-valid {
        background-color: $login_button_background_disabled;
    }
    .button_disabled {
        background-color: #ccc;
    }
}


@mixin content_title() {
    padding: $title_padding;
    @include linear-gradient(darken($header_background, 10%), $header_background);
    color: #fff;
    font: {
        size: $title_font_size;
    }
}

