/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2016, 3:03:05 PM
    Author     : aron
*/
@import 'const.scss';
@import 'mixins.scss';

body {
    padding: 0px;
    margin: 0px;
}

#header {
    text-align: center;
    margin-top: $login_title_top_margin;
    padding: $medium_padding;
    font: {
        size: $x_large_font_size;
    }
    .first {
        color: $main_bg_color1;
    }

    .second {
        color: $main_bg_color2;
    }
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    @include shadow(1px, 1px, 5px, #ccc);

    .login-title {
        padding: $title_padding;
        @include linear-gradient($main_bg_color1, $main_bg_color2);
        color: #fff;
        font: {
            size: $title_font_size;
        }
    }

    .login-body {
        padding: $login_body_padding;
    }

    .login-input, .login-button {
        @include form();
    }

    .login-error {
        color: $error_color;
    }

    @media screen and (max-width: 600px) {
        width: 95%;
        margin-left: 10px auto;
        margin-right: 10px auto;
    }
}

#account {
    .top {
        height: 100px;
        background: $theme_color;
        position: relative;
        img {
            width: $logo_size;
            height: $logo_size;
            position: relative;
            top: 20px;
            left: 30px;
        }

        .position {
            position: absolute;
            right: 0px;
            bottom: 0px;
            @include linear-gradient($theme_color, darken($theme_color, 10%));
            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
                li {
                    float: left;
                    padding: 0px;
                    margin: 0px;
                    a {
                        text-decoration: none;
                        span {
                            display: block;
                            padding: $medium_padding;
                            position: relative;
                        }
                    }
                    ul {
                        display: none;
                        clear: both;
                        position: absolute;
                        top: 38px;
                        right: 0px;
                        margin: 0px;
                        padding: 0px;
                        list-style-type: none;
                        background-color: lighten($theme_color, 10%);
                        li {
                            padding: 0px;
                            margin: 0px;
                            float: none;
                            a {
                                display: block;
                                text-decoration: none;
                                font-size: $menu_font_size;
                                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: bolder;
                                padding: $medium_padding;
                                text-align: left;
                                border-left: solid lighten($theme_color, 10%) 2px; 
                                &:hover {
                                    border-left: solid $menu_border_left_color 2px; 
                                }
                            }
                        }
                    }
                    input {
                        padding: $small_padding;
                    }
                }
            }
        }

    }

    .middle {
        background-color: lighten($theme_color, 20%);
        @include linear-gradient(lighten($theme_color, 20%), lighten($theme_color, 5%));

        img {
            float: left;
            display: block;
            padding: $medium_padding;
            width: $profile_pic_size;
            height: $profile_pic_size;
            @include rounded($profile_pic_size);
            &:hover {
                opacity: 0.8;
                transition: opacity 0.5s;
            }
        }

        span {
            display: inline-block;
            height: $profile_pic_size + $medium_padding;
            padding-top: $large_padding;
            font: {
                family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
                size: $welcome_msg_font_size;
            }
        }
    }

    .bottom {
        .menu {
            background-color: darken($theme_color, 10%);
            padding: $large_padding;
            float: left;
            width: $menu_width;
            ul {
                margin: 0px;
                list-style-type: none;
                padding: 0px;
                li {
                    img {
                        width: $icon_size;
                        height: $icon_size;
                    }
                    ul {
                        margin: 0px;
                        padding: 0px;
                        list-style-type: none;
                        li {
                            padding-left: $medium_padding;
                            a {
                                display: block;
                                padding: $medium_padding;
                                text-decoration: none;
                                color: #fff;
                                &:hover {
                                    text-decoration: underline;
                                }
                                &:active, &:visited {
                                    text-decoration: none;
                                    color: #ff0000;
                                }
                                &:visited {
                                    text-decoration: none;
                                    color: #fff;
                                }
                                .active {
                                    color: #FF9900 !important;
                                }
                            }
                        }
                    }
                    span {
                        position: relative;
                        top: -5px;
                        padding-left: $small_padding;
                    }
                }
            }
        }

        .data {
            margin-left: $menu_width +  2 * $large_padding;
            .content  {
                width: 100%;
                // padding: $medium_padding;
            }
        }

        table {
            width: 100%;
            @include shadow(1px, 1px, 2px, #ccc);
            thead {
                padding: $large_padding;
                background-color: $table_header_bg_color;
                color: #fff;
                th {
                    padding: $medium_padding;
                    text-align: left;
                }
            }
            tbody {
                color: #fff;
                td {
                    padding: $medium_padding;
                }
                tr:nth-child(odd) {
                    background-color: $table_odd_row_bg_color;
                }
                tr:nth-child(even) {
                    background-color: $table_even_row_bg_color;
                }
                tr:hover {
                    background-color: $table_hover_bg_color;
                }
            }
        }

    }
}

.feedback {
    text-align: left;
    color: $error_color;
    padding: $small_padding;
    img {
        display: inline-block;
        width: $loading_gif_size;
    }
}

.nav-link {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: $medium_padding;
    clear: both;
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        display: inline-block;
        li {
            padding: 0px;
            margin: 0px;
            float: left;
            a {
                display: block;
                padding: $small_padding;
                text-decoration: none;
                color: #00f;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
                &:active {
                    text-decoration: none;
                    color: #00f;
                }
                &:visited {
                    text-decoration: none;
                    color: #00f;
                }
            }
        }
    }

    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
        
        form {
           pointer-events: auto; 
           
           input[type='text'], textArea {
               padding: $medium_padding;
               margin: $small_margin;
               width: 90%;
               border: none;
               @include rounded(5px);
           }
           textArea {
               height: 100px;
               resize: none;
           }
           
           input[type='button'] {
               border: none;
               padding: $medium_padding;
               @include rounded(5px);
               width: 95%;
               margin: $small_margin;
               background-color: #333;
               color: #fff;
               &:hover {
                   background-color: lighten(#333, 10%);
               }
           }
           
        }
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
        //pointer-events: none;
    }
    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
        pointer-events: auto;
        cursor: pointer;
    }

    .close:hover { background: #00d9ff; }
}

