/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2016, 3:03:05 PM
    Author     : aron
*/
@import 'const.scss';
@import 'mixins.scss';

body {
    padding: 0px;
    margin: 0px;
}

#header {
    text-align: center;
    margin-top: $login_title_top_margin;
    padding: $medium_padding;
    font: {
        size: $x_large_font_size;
    }
    .first {
        color: $main_bg_color1;
    }

    .second {
        color: $main_bg_color2;
    }
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    @include shadow(1px, 1px, 5px, #ccc);

    .login-title {
        padding: $title_padding;
        @include linear-gradient($main_bg_color1, $main_bg_color2);
        color: #fff;
        font: {
            size: $title_font_size;
        }
    }

    .login-body {
        padding: $login_body_padding;
    }

    .login-input, .login-button {
        @include form();
    }

    .login-error {
        color: $error_color;
    }

    @media screen and (max-width: 600px) {
        width: 95%;
        margin-left: 10px auto;
        margin-right: 10px auto;
    }
}

#account {
    .top {
        height: 100px;
        background: $theme_color;
        position: relative;
        .position {
            position: absolute;
            right: 0px;
            bottom: 0px;
            @include linear-gradient($theme_color, darken($theme_color, 10%));
            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
                li {
                    float: left;
                    padding: 0px;
                    margin: 0px;
                    a {
                        text-decoration: none;
                        span {
                            display: block;
                            padding: $medium_padding;
                            position: relative;
                        }
                    }
                    ul {
                        display: none;
                        clear: both;
                        position: absolute;
                        top: 38px;
                        right: 0px;
                        margin: 0px;
                        padding: 0px;
                        list-style-type: none;
                        background-color: lighten($theme_color, 10%);
                        li {
                            padding: 0px;
                            margin: 0px;
                            float: none;
                            a {
                                display: block;
                                text-decoration: none;
                                font-size: $menu_font_size;
                                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: bolder;
                                padding: $medium_padding;
                                text-align: left;
                                border-left: solid lighten($theme_color, 10%) 2px; 
                                &:hover {
                                    border-left: solid $menu_border_left_color 2px; 
                                }
                            }
                        }
                    }
                    input {
                        padding: $small_padding;
                    }
                }
            }
        }

    }
    
    .middle {
        background-color: lighten($theme_color, 20%);
        
        img {
            float: left;
            display: block;
            padding: $medium_padding;
            width: $profile_pic_size;
            height: $profile_pic_size;
            @include rounded($profile_pic_size);
        }
        
        span {
            display: inline-block;
            height: $profile_pic_size + $medium_padding;
            padding-top: $large_padding;
            font: {
                family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
                size: $welcome_msg_font_size;
            }
        }
    }
    
    .bottom {
        .menu {
            background-color: darken($theme_color, 10%);
            padding: $large_padding;
            float: left;
            ul {
                margin: 0px;
                list-style-type: none;
                padding: 0px;
                li {
                    img {
                        width: $icon_size;
                        height: $icon_size;
                    }
                    ul {
                        margin: 0px;
                        padding: 0px;
                        list-style-type: none;
                        li {
                            padding-left: $medium_padding;
                            a {
                                display: block;
                                padding: $medium_padding;
                                text-decoration: none;
                                color: #fff;
                                &:hover {
                                    text-decoration: underline;
                                }
                                &:active, &:visited {
                                    text-decoration: none;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    span {
                        position: relative;
                        top: -5px;
                        padding-left: $small_padding;
                    }
                }
            }
        }
    }
}

.feedback {
    text-align: left;
    color: $error_color;
    padding: $small_padding;
    img {
        display: inline-block;
        width: $loading_gif_size;
    }
}

.nav-link {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: $medium_padding;
    clear: both;
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        display: inline-block;
        li {
            padding: 0px;
            margin: 0px;
            float: left;
            a {
                display: block;
                padding: $small_padding;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

